body {
    font-family: "Capriola", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #d0f4de;
    color: #264653;
}

h1 {
    border-bottom: 5px solid #264653;
    padding: 0px 15px 20px;
    text-align: center;
}

h2 {
    border-top: 5px solid #264653;
    padding: 5px 2px 0px;
}

.inline {
    width: 400px;
    height: 200px;
    margin: 10px 30px;
    border-radius: 20px;
}

figure {
    display: inline-block;
}

figcaption {
    text-align: center;
}

#pancakes, #cashew, #chickpea {
    width: 110em;
    height: 55em;
    margin: 0px 15px;
    background-size: cover;
    text-align:center;
    border-radius: 20px;
}